                <!-- ========== Left Sidebar Start ========== -->
                <div class="vertical-menu">
        
                    <div data-simplebar="init" class="h-100"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;"><div class="simplebar-content" style="padding: 0px;">
        
                        <!--- Sidemenu -->
                        <div id="sidebar-menu">
                            <!-- Left Menu Start -->
                            <ul class="metismenu list-unstyled" id="side-menu">
                                <li class="menu-title">Main</li>
        
                                <li id="dashboard_li">
                                    <a href="/dashboard/" class="waves-effect" id="dashboard_anchor">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li id="logoanalitica_li">
                                    <a href="http://190.217.58.246/" class="waves-effect" id="logoanalitica_li_anchor">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span>Análitica Usbmed</span>
                                    </a>
                                </li>
                                <li id="proyectos_li">
                                    <a href="/proyectos/" class="waves-effect" id="proyectos_anchor">
                                        <i class="mdi mdi-briefcase"></i>
                                        <span>Proyectos</span>
                                    </a>
                                </li>
                                


        
                                <li class="menu-title">Components</li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="mdi mdi-lightbulb-on"></i>
                                        <span>Módulo de Ideas</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="/ideas/create/">Agrega tu idea</a></li>
                                        <li><a href="#">Matriz de evaluación y retroalimentación</a></li>
                                        <li><a href="#">Estadísticas de ideas</a></li>
                                        <li><a href="#">Retos</a></li>
                                        <li><a href="#">Top 10 - Generadores de ideas</a></li>
                                        <li><a href="#">Evaluación de ideas</a></li>
                                        <li><a href="#">Mercado de ideas</a></li>
                                    </ul>
                                </li>
                                
        
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="fas fa-chart-line"></i>
                                        <span>Modulo Oportunidades</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="/oportunidades/create_oportunidad/">Crear Oportunidad</a></li>
                                        <li><a href="#">Tabla de selección de fuentes</a></li>
                                        <li><a href="#">Formulario de resgistro de nuevo experto</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="fas fa-cogs"></i>
                                        <span>Modulo Soluciones</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="{{ url_for('vistaSolucion.create_solucion') }}">Crear solución</a></li>
                                        <li><a href="#">Calendario de lanzamientos</a></li>
                                        <li>
                                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                                <span>Lanzamientos</span>
                                            </a>
                                            <ul class="sub-menu mm-collapse" aria-expanded="false">
                                                <li><a href="#">Últimos Lanzamientos</a></li>
                                                <li><a href="#">Próximos Lanzamientos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-title">Extras</li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="mdi mdi-account-box"></i>
                                        <span> Authentication </span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a target="_blank" href="/perfil/">Login</a></li>
                                        <li><a target="_blank" href="#">Register</a></li>
                                        <li><a target="_blank" href="#">Recover Password</a></li>
                                    </ul>
                                </li>
        
                            </ul>
                        </div>
                        <!-- Sidebar -->
                    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 488px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: hidden;"><div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none;"></div></div></div>
                </div>