<!-- ========== Left Sidebar Start ========== -->
                <div class="vertical-menu">
                    <div class="h-100">
        
                        <!-- Sidebar Menu -->
                        <div id="sidebar-menu">
                            <ul class="metismenu list-unstyled" id="side-menu">
                                <li class="menu-title">Main</li>
        
                                <li id="dashboard_li">
                                    <a href="{{ url_for('dashboard.index') }}" class="waves-effect" id="dashboard_anchor">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>
                                <li id="logoanalitica_li">
                                    <a href="http://190.217.58.246/" class="waves-effect" id="logoanalitica_li_anchor">
                                        <i class="mdi mdi-view-dashboard"></i>
                                        <span>Análitica Usbmed</span>
                                    </a>
                                </li>
                                <li id="proyectos_li">
                                    <a href="{{ url_for('dashboard.proyectos') }}" class="waves-effect" id="proyectos_anchor">
                                        <i class="mdi mdi-briefcase"></i>
                                        <span>Proyectos</span>
                                        
                                    </a>
                                </li>
                                


        
                                <li class="menu-title">Components</li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="mdi mdi-lightbulb-on"></i>
                                        <span>Módulo de Ideas</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="{{ url_for('ideas.create_idea') }}">Agrega tu idea</a></li>
                                        <li><a href="#">Matriz de evaluación y retroalimentación</a></li>
                                        <li><a href="{{ url_for('ideas.estadisticas') }}">Estadísticas de ideas</a></li>
                                        <li><a href="{{ url_for('ideas.retos') }}">Retos</a></li>
                                        <li><a href="{{ url_for('ideas.top_generadores') }}">Top 10 - Generadores de ideas</a></li>
                                        <li><a href="{{ url_for('ideas.evaluacion') }}">Evaluación de ideas</a></li>
                                        <li><a href="{{ url_for('ideas.mercado') }}">Mercado de ideas</a></li>
                                    </ul>
                                </li>
                                
        
                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="fas fa-chart-line"></i>
                                        <span>Modulo Oportunidades</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="{{ url_for('vistaOportunidad.create_oportunidad') }}">Crear Oportunidad</a></li>
                                        <li><a href="{{ url_for('vistaOportunidad.list_oportunidades') }}">Listar Oportunidades</a></li>
                                        <li><a href="#">Tabla de selección de fuentes</a></li>
                                        <li><a href="#">Formulario de resgistro de nuevo experto</a></li>

                                    </ul>
                                </li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="fas fa-cogs"></i>
                                        <span>Modulo Soluciones</span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a href="{{ url_for('vistaSolucion.create_solucion') }}">Crear solución</a></li>
                                        <li><a href="{{ url_for('vistaSolucion.list_solucion') }}">Listar soluciones</a></li>
                                        <li><a href="{{ url_for('vistaSolucion.vistacalendario') }}">Calendario de lanzamientos</a></li>
                                        <li>
                                            <a href="javascript: void(0);" class="has-arrow waves-effect">
                                                <span>Lanzamientos</span>
                                            </a>
                                            <ul class="sub-menu mm-collapse" aria-expanded="false">
                                                <li><a href="#">Últimos Lanzamientos</a></li>
                                                <li><a href="#">Próximos Lanzamientos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-title">Extras</li>

                                <li>
                                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                                        <i class="mdi mdi-account-box"></i>
                                        <span> Authentication </span>
                                    </a>
                                    <ul class="sub-menu mm-collapse" aria-expanded="false">
                                        <li><a target="_blank" href="/perfil/">Login</a></li>
                                        <li><a target="_blank" href="#">Register</a></li>
                                        <li><a target="_blank" href="#">Recover Password</a></li>
                                    </ul>
                                </li>
        
                            </ul>
                        </div>
                        <!-- Sidebar -->
                    </div>
                </div>
                <!-- ========== Left Sidebar End ========== -->