{% extends "base.html" %}

{% block content %}
    <style>
        /* Contenedor para centrar la imagen y el texto */
        .logo-container {
            display: flex;
            align-items: center; /* Centra verticalmente */
            justify-content: center; /* Centra horizontalmente */
        }
        .logo-image-sm {
            width: 50px;
            height: 45px;
            margin-top: 10px;
        }
        .logo-image-lg {
            width: 50px;
            height: 50px;
            margin-right: 10px;
        }
        .logo-text {
            font-size: 25px;
            color: #ffffff;
            font-family: sans-serif;
            font-style: normal;
            margin-top: 7%;
        }
        .custom-card {
            background-color: #6C0B99;
            border: none;
            transition: transform 0.3s ease, background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .custom-card:hover {
            background-color: #6C0B99;
            transform: scale(1.05);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
        .custom-card .card-title,
        .custom-card .card-text {
            color: black;
            font-size: 25px;
        }
        .custom-card .module-image {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }
        .custom-card:active {
            background-color: #6C0B99;
            transform: scale(0.98);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        }
        .custom-card .card-text {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
        }
        .custom-card-opportunity {
            background-color: #FA0C4A;
            border: none;
            transition: transform 0.3s ease, background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .custom-card-opportunity:hover {
            background-color: #FA0C4A;
            transform: scale(1.05);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
        .custom-card-opportunity .card-title,
        .custom-card-opportunity .card-text {
            color: black;
            font-size: 25px;
        }
        .custom-card-opportunity .module-image {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }
        .custom-card-opportunity:active {
            background-color: #FA0C4A;
            transform: scale(0.98);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        }
        .custom-card-opportunity .card-text {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
        }
        .custom-card-solution {
            background-color: #33CCFF;
            border: none;
            transition: transform 0.3s ease, background-color 0.3s ease;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .custom-card-solution:hover {
            background-color: #33CCFF;
            transform: scale(1.05);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
        }
        .custom-card-solution .card-title,
        .custom-card-solution .card-text {
            color: black;
            font-size: 25px;
        }
        .custom-card-solution .module-image {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
        }
        .custom-card-solution:active {
            background-color: #33CCFF;
            transform: scale(0.98);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
        }
        .custom-card-solution .card-text {
            font-size: 1.2rem;
            font-weight: 300;
            line-height: 1.5;
        }
    </style>
    <div class="main-content d-flex flex-column" style="height: 100vh; overflow: hidden;">
        <div class="page-content flex-grow-1 d-flex flex-column">
            <div class="container-fluid flex-grow-1 d-flex flex-column">
                <div id="result" class="flex-grow-1 d-flex align-items-stretch">
                    <div class="row flex-grow-1 w-100">
                        <!-- Tarjetas de módulo -->
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <a href="{{ url_for('ideas.list_ideas') }}"  class="card flex-grow-1 custom-card text-white card-module" style="text-decoration: none;">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                    <img src="/static/img/ideas.png" alt="Módulo de Ideas" class="module-image mb-3">
                                    <h4 class="card-title">Módulo de ideas</h4>
                                    <p class="card-text">Creación de ideas.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <a href="/oportunidades/list_oportunidad/" class="card flex-grow-1 custom-card-opportunity text-white card-module" style="text-decoration: none;">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                    <img src="/static/img/oportunidad.png" alt="Módulo de Oportunidades" class="module-image mb-3">
                                    <h4 class="card-title">Módulo de Oportunidades</h4>
                                    <p class="card-text">Gestión de oportunidades.</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 d-flex">
                            <a href="/soluciones/list_solucion/" class="card flex-grow-1 custom-card-solution text-white card-module" style="text-decoration: none;">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
                                    <img src="/static/img/soluciones1.png" alt="Módulo de Soluciones" class="module-image mb-3">
                                    <h4 class="card-title">Módulo de Soluciones</h4>
                                    <p class="card-text">Gestión de soluciones.</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
